#basket {
    position: fixed;
    height: 90px;
    left: 400px;
    top: 50px;
    border: 10px solid black;
    z-index: 1;
}

#ball {
    height: 40px;
    cursor: move;
    position: relative;
    z-index: 2;
    display: none;
}